@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@-webkit-keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}@keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}
 body{
     font-family: 'Itim', cursive;
 }
.navbar{
    padding: 5px 0;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page-link{
    text-decoration: none;
    color: white;
    padding: 14px;
    font-size: 20px;
    -webkit-animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-hor-center .8s cubic-bezier(.455,.03,.515,.955) both
}
.title{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 14px;
    font-size: 35px;
    color: white;
    -webkit-animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-hor-center .8s cubic-bezier(.455,.03,.515,.955) both
}
.page-link:hover{
    color: #ece90e;
}
.title:hover{
    color: red ;
}