@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@-webkit-keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}@keyframes rotate-hor-center{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-360deg);transform:rotateX(-360deg)}}

.navbar{
    padding: 5px 0;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page-link{
    font-family: 'Itim', cursive;
    text-decoration: none;
    color: white;
    padding: 14px;
    font-size: 20px;
    -webkit-animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-hor-center .8s cubic-bezier(.455,.03,.515,.955) both
}
.title{
    font-family: 'Itim', cursive;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 14px;
    font-size: 35px;
    color: white;
    -webkit-animation:rotate-hor-center .5s cubic-bezier(.455,.03,.515,.955) both;animation:rotate-hor-center .8s cubic-bezier(.455,.03,.515,.955) both
}
.page-link:hover{
    color: #ece90e;
}
.title:hover{
    color: red ;
}
.users{
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 30px;
}
.element-style{
  border: solid #000;
border-width:  1px;
    font-family: 'Itim', cursive;
    font-size: 25px;
    padding: 50px;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: black;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background:  skyblue;
  user-select: none;
}
.sidebar header a
{
    margin-left: -80px;
    color: white;
}
.sidebar header a i
{
    margin: 10px;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: black;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

